html, body {
  margin: 0;
  padding: 0;
}

.img-seven {
  width: 450px;
}

h1{
  animation: type 3s steps(55);
  overflow: hidden;
  white-space: nowrap;
  font-family: consolas;
  border-right: 4px solid white;
  width: 55ch;
}
@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    wdith: 55ch;
  }
}

h2{
  color: grey;
  font-size: 30px;
  font-family: URW Chancery L, cursive;
  text-decoration: underline;
}
h3{
  color: white;
  font-size: 20px
}
h4{
  color: white;
  font-size: 20px;
}
h5{
  color: white;
  font-size: 20px;
}
h6{
  color: white;
  font-size: 20px;
}
h7{
  color: white;
  font-size: 20px
  font-family: Arial, sans-serif;
}
 p {
  color: white;
  font-size:30px
  font-family: serif;
}
p2{
  color: white;
  font-size:30px
  font-family: Arial, sans-serif;
}

a{
  display: grid;
  height: 80;
  wdith: 250px;
  background: grey;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 1000;
  bottom: 0;
  place-items: center;
  font-family: Marker Felt, fantasy;
  color: black;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 7px;
  border-radius: 5px;


}
canvas {
  display: block;
}
